          .h4 {color:black;}
          .h3 {color: black;}


          #p {
 	        color:black;
  	        font-family: "Times New Roman", Times, serif;
        }

          #a {color:black;}
  
          #font{color:black}
	
          #main_menu{
	
	        padding: 5px 250px 5px;
	        width: 800px;
	        height: 50px;
	
        }    

        #banner1{
	
	        padding: 5px 230px 5px;
		    left:50px;
		    top:10px;
	    
	
        }

        #banner_img{
	        height:150px;
	        width:700px;
        }

        #footer1 {	
	
	        position: static;
	        bottom: 0;
	        width: 100%;
  	        text-align: center;
	
        }

        #categories{
	        padding: 5px 5px 600px;
	        top:10px;

        }

        #index_table{
                padding: 5px 50px 5px;
	        position: relative;
                border-style: groove;  
                border: 1;
        }
        #index_box{
             position: static;
             height:300px; 
             width:300px;             
             object-fit:cover;
        }
        #index_box2{
             position: static;
             height:300px; 
             width:400px;             
             object-fit:cover;
             border-style: groove;  
        }
        
        #product_form{
             font-family: "Times New Roman", Times, serif; 
             font-size: 14px;
        }
         #main_table{	       
            padding: 5px 10px 5px;
             
        }

        #cart_first_line{
	        color:black;
        padding: 5px 5px 250px;
        }

        #back_color1{
	        background-color: #896e68;
        }

        #back_color2{
	        background-color: #d2c6ca;
        }

        #back_color3{
	        background-color: #9a7e88;
        }


        #letter_color_white{
	        size:4; 
	        color:black;
        }

        #cost{
	        color:black;
  	        font-family: "Times New Roman", Times, serif;
	        font-weight: bold; 
	        font-size: 115%;
	        text-align: right;
        }

         /* login page */
        .login_form {
          position: static;
          width: 80%; 
          height: 80%;
          overflow: auto; /* Enable scroll if needed */
        }

        /* Content/Box */
        .form_content {
          background-color: #fefefe;
          margin: 50px auto; 
          width: 100%; 
        }
        #login_table{
	        width:70%; 
	        margin-left:40%; 
                margin-right:30%;
        }
        
        #data_table{
	         
                border-style: solid;
                width:70%; 
	        margin-left:5%; 
                margin-right:5%;
        }
        #cell{
            border-color: #f2f2f2;
             border-style: groove;  
             border:1;            
        }
        
        #sent_form_table{
            
            border-collapse: separate;            
            border-spacing: 15px 50px;            
        }
        #product_box{
            position: static;
             height:300px; 
             width:800px;             
             object-fit:cover;
        }