.frameDiv{
    background-color: aliceblue;
    width: 35%;
    height: auto;    
    padding: 2rem; 
    margin-top: 3rem;
    border-radius: 10px;
}


.frame-p{
    font-size: 16px;
    font-weight: bolder;
    font-family: inherit;
    color: black;
    margin-top: 1rem;
    border: 1px solid grey;
}