button{
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    background-color: blueviolet;
    width: 100%;
    border-radius: 10px;
    padding: 0.7rem;    
    margin: 10px;
}

button:hover{
    background-color: brown;
}


@media (min-width:768px){
    button{
      width:auto
    }
}