
<%- include("partials/header.ejs"); %> 

<h1>Home</h1>

<% contents_array.forEach(function (Eachcontent){ %>
  <p><%= Eachcontent.title %> </p>
  <p><%= Eachcontent.content %> </p>
<%}); %> 


<%- include("partials/footer.ejs"); %> 
