<div class="menu">
    <nav >        
        <ul >
            <li class="menu_list left"><a class="menu_a daily" href="">Daily journal</a></li>
            <li class="menu_list right"><a class="menu_a" href="/contactUs">Contact us</a></li>            
            <li class="menu_list right"><a class="menu_a" href="/about">About us</a></li>
            <li class="menu_list right"><a class="menu_a" href="/">Home</a></li>
        </ul>
    </nav>
</div>