form{
    padding: 1rem;
    width: 100%;
}
input{
    color: black;
    background-color: bisque;
    border:2px solid black;
    border-radius: 5px;
    margin-top: 5px;
    width: auto;
    height: auto;           
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
    display: block;
}

input:focus{
    background-color: rgb(211, 240, 230);
}

label{
    font-weight: bold;
    color: black;
    font-size: 1rem;
    display: block;
}
